{% extends 'portal/base.html' %}
{% block content %}
<div class="card">
    <h2>Формирование заявки на обучение</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Наименование курса</label>
            {{ form.course }}
        </div>
        <div class="form-group">
            <label>Желаемая дата начала обучения (ДД.ММ.ГГГГ)</label>
            {{ form.start_date }}
        </div>
        <div class="form-group">
            <label>Способ оплаты</label>
            {{ form.payment_method }}
        </div>
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock %}