{% extends 'portal/base.html' %}
{% block content %}
<div class="card">
    <h2>Авторизация</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Логин</label>
            <input type="text" name="username" required>
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
    <p>Еще не зарегистрированы? <a href="{% url 'register' %}">Регистрация</a></p>
</div>
{% endblock %}